<section class="sign-in">
    <div class="container-signin">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="/img/img2.jpg" alt="sing up image" class="img2"></figure>

                <span style="font-weight: 400; font-size: 14px; font-family: 'Euclid Circular A'; color: rgb(5, 37, 59);">Don't have an account?</span>
                <a href="/company-signup" class="signup-image-link">Signup</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Sign in</h2>
                <form method="POST" class="register-form" id="company_login">
                <div class="form-group">
                <label for="company_name"><i class="fa-solid fa-user"></i></label>
                <input type="text" name="company_name" id="Company_name" placeholder="Company Name" required>
                </div>
                <div class="form-group">
                <label for="password"><i class="fa-solid fa-lock"></i></label>
                <input type="password" name="password" id="password_" placeholder="Password" required>
                </div>
                <div class="form-group form-button">
                <input type="submit" name="signin" id="signin_" class="form-submit" value="Log in" />
                </div>
                </form>
            </div>

        </div>
    </div>
</section>

