<section class="sign-in">
    <div class="container-signin-sc">
        <div class="signin-content-sc">

            <h2>Student</h2>
        </div>
    </div>
    <div class="container-signin-sc">
        <div class="signin-content-sc">

            <h2>Company</h2>
        </div>
    </div>
</section>

